*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --orange: hsl(25, 97%, 53%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

html {
  height: 100%;
}

body {
  background-color: black;
  color: var(--light-grey);
  font-family: "Overpass", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 1.25rem;
}

.card {
  background: linear-gradient(
    45deg,
    var(--very-dark-blue) 0%,
    var(--dark-blue) 100%
  );
  max-width: 30rem;
  padding: 2rem;
  border-radius: 1.5rem;
}

#rating img {
  padding: 1em;
  background-color: var(--dark-blue);
  border-radius: 10rem;
}

.inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.inputs > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.inputs > input:checked + label {
  background-color: var(--orange);
  color: white;
}

.inputs > label {
  line-height: 1;
  height: 3em;
  aspect-ratio: 1/1;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  cursor: pointer;
}

label:hover,
label:active {
  background-color: var(--medium-grey);
  color: white;
}

h1 {
  color: white;
}

button {
  border: none;
  width: 100%;
  background-color: var(--orange);
  color: white;
  padding: 1em;
  border-radius: 10rem;
  text-transform: uppercase;
  cursor: pointer;
}

#thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#thank-you img {
  margin-bottom: 2em;
}

#thank-you h1 {
  margin-bottom: 0.5em;
}

#thank-you p {
  margin: 0;
}

.selected-rating {
  background-color: var(--dark-blue);
  padding: 0.5em 1em;
  border-radius: 10rem;
  color: var(--orange);
  margin-bottom: 0.75em;
}

.attribution {
  margin-top: 5em;
}

.attribution a {
  color: white;
}

.hidden {
  display: none !important;
}
